<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="tab attrs active" data-group="primary" data-tab="attrs">
            <div class="container col">
                <h2>Связанное Слово</h2>
                <div class="container row sheet-header">
                    <img class="profile-img" src="{{item.img}}" data-edit="img" data-tooltip="{{item.name}}" height="100"
                         width="100"/>
                    <div class="header-fields tabular">
                        <div>
                            <label for="name">Имя:</label>
                            <input id="name" name="name" type="text" value="{{item.name}}"/>
                        </div>
                        <div>
                            <label for="description">Описание:</label>
                            <textarea id="description" name="system.description" class="xtall">{{system.description}}</textarea>
                        </div>
                        <div>
                            <label for="pdfCode">PDF:</label>
                            <select id="pdfCode" name="system.pdfCode">
                                {{#select system.pdfCode}}
                                <option value="CORE">Основная книга правил</option>
                                <option value="LEXICON">Лексикон Трона</option>
                                <option value="FEMPIRES">Павшие империи</option>
                                {{/select}}
                            </select>
                        </div>
                        <div>
                            <label for="pdfPage">Стр:</label>
                            <input id="pdfPage" name="system.pdfPage" type="text" value="{{system.pdfPage}}"
                                   data-dtype="Number"/>
                        </div>
                        <div>
                            <label for="commitType">Приложить Усилие:</label>
                            <select id="commitType" name="system.commitType">
                                {{#select system.commitType}}
                                <option value="atWill">По желанию</option>
                                <option value="scene">Сцена</option>
                                <option value="day">День</option>
                                {{/select}}
                            </select>
                        </div>
                        <div>
                            <label>Потрачено Усилий:</label>
                            <span style="padding-left:8px;">{{system.computed.effortSpent}}</span>
                        </div>
                        <div>
                            <label></label>
                            <div style="display:flex; align-items: center">
                                <input type="checkbox" name="system.free" {{checked system.free}} style="margin-left:0" data-tooltip="Не тратит Очки Даров"/>Бесплатно
                            </div>
                        </div>
                        <div>
                            <label>Пассивка:</label>
                            <div style="display: flex; align-items: center">
                                <label style="margin-right:4px;">Снижение урона:</label>
                                <input type="text" name="system.passive.reduction" value="{{system.passive.reduction}}" data-dtype="Number" class="compact"/>
                            </div>
                        </div>
                        <div>
                            <label></label>
                            <div style="display: flex; align-items: center">
                                <label style="margin-right:4px;" data-tooltip="Через запятую: fire, cold, lightning, acid, poison, disease, magic, holy, unholy, physical">Иммунитет:</label>
                                <input type="text" name="system.passive.immune" value="{{system.passive.immune}}" placeholder="fire, cold, ..."/>
                            </div>
                        </div>
                        <div>
                            <label></label>
                            <div style="display: flex; align-items: center">
                                <label style="margin-right:4px;">Сопротивление:</label>
                                <input type="text" name="system.passive.resistant" value="{{system.passive.resistant}}" placeholder="fire, cold, ..."/>
                            </div>
                        </div>
                        <div>
                            <label></label>
                            <div style="display: flex; align-items: center">
                                <label style="margin-right:4px;">Уязвимость:</label>
                                <input type="text" name="system.passive.vulnerable" value="{{system.passive.vulnerable}}" placeholder="fire, cold, ..."/>
                            </div>
                        </div>
                        <div>
                            <label style="vertical-align: center">Действия:</label>
                            <div class="item-controls" style="padding-top:4px;">
                                <a class="item-control item-chat" data-tooltip="Эффект в чат"><i class="fas fa-comment"></i></a>
                                <a class="item-control item-maybe-delete" data-tooltip="Возможно удалить"><i class="fas fa-trash"></i></a>
                                <a class="item-control item-delete" data-tooltip="Удалить" style="color:red;margin-left:16px;display:none;"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
